sphinx
myst-nb
Pillow
plenoptic @ git+https://github.com/plenoptic-org/plenoptic.git
sphinx-book-theme
myst-parser
sphinx-copybutton
sphinx-togglebutton
ipywidgets
requests
click
jupytext
jupyterlab_myst
jupyter
